<div id="container">
      <section class='images'>
      </section>

      <section class='titles-first'>
      	<a href='#'> <%= image_tag("f.png") %> </a>
      </section>      

      <section class='titles-second'>
        <h2> Site Under Construction!</h2>
      </section>

      <section class='social'>
      	<p> Follow us: </p> 
      	<a href='https://www.facebook.com/foolshoots' target="_blank"> <%= image_tag("fb.png") %></a>
      	<a href='#'> <%= image_tag("insta.png") %> </a>
      	<a href='http://www.youtube.com/user/foolshoots' target="_blank"> <%= image_tag("yt.png") %> </a>
      </section>

</div>