<div id="container">
      <section class='images'>
      </section>

      <section class='titles-first'>
      	<%= image_tag("f.png") %>
      </section>      

      <section class='titles-second'>
        <h2> Site Under Construction!</h2>
      </section>

</div>